/venv
/ass1/__pycache__
/ass2/__pycache__
/ass3/__pycache__
/ass2/figure
ass2/MachineLearning-WS24-exercise2.pdf
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/vcs.xml
/.idea/prettier.xml
